<head>

  <title>Product Page</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" href="/">Baz</a>
    </li>
    <li class="nav-item">
      <a class="nav-link loginButton" id="btnGoogle" href="#">Login With Google</a>
    </li>
  </ul>
  <br>
  <br>
  <br>
  <br>

  <h2>{{this.term}}</h2>
  <div class='row'></div>
  <div class="servicesDiv">

    {{#each data}}
    <div class="col-sm-3">
      <div class="card">
        <a href='/product/{{this.id}}'>
          <img class="card-img-top" src="{{this.image}}" alt="Card image cap" width=90%>
        </a>
        <div class="card-block">
          <p class="card-text card-title text-center">
            <strong>{{this.title}}</strong>
          </p>
          <p class="card-text card-desc">{{this.description}}</p>
        </div>
      </div>
    </div>
    {{/each}}

  </div>


</body>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
  crossorigin="anonymous"></script>