<head>
  
    <title>User Profile</title>
 	<!-- Required meta tags -->
 	<meta charset="utf-8">
 	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 
 	<!-- Bootstrap CSS -->
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
 	    crossorigin="anonymous">
 	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
 	<link href="assets/css/style.css" rel="stylesheet">
</head>

	<ul class="nav justify-content-end">
    	<li class="nav-item">
      		<a class="nav-link active" href="/">Baz</a>
    	</li>
    	<li class="nav-item">
      		<a class="nav-link loginButton" id="btnGoogle" href="#">Login With Google</a>
    	</li>
  	</ul>
  	<br>
  	<br>
  	<br>
  	<br>
	
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<img src="{{dataValues.image}}" width="90%">
			</div>

			<div class="col-md-8">
				<h1 class="userName">{{dataValues.name}}</h1> <!-- user name -->
				<h3>{{dataValues.location}}</h3> <!-- user location -->
				<br>
				<p>{{dataValues.description}}</p>
				<br>
				<h4>Services</h4>
				<div class="servicesDiv">
					{{#each Services}}
						<div class="col-sm-4">
					        <div class="card">
					        	<a href="/product/{{this.id}}">
					          		<img class="card-img-top" src="{{this.image}}" alt="Card image cap" width=90%>
					          	</a>
					          	<div class="card-block">
					          		<p class="card-text card-title text-center"><strong>{{this.title}}</strong></p>
					            	<p class="card-text card-desc">{{this.description}}</p>
					            </div>
					        </div>
					    </div>
					{{/each}} 
				</div>   
			</div>			
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-8">
				<a class="btn btn-default" href="/service">Add a Service</a>
				<a class="btn btn-default" href="/update-user">Update Account Information</a>
			</div>
		</div>
	</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
